.san-serif {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
p{
	text-align: center;
}
.background{ 
	color: rgb(0, 0, 0, 0.8);
}
button{
	background-color:	rgb(0,113, 227);	
}
.background {
	color:rgb(242, 242, 242);
}
.background footer {
	color:rgb(245, 245, 247)
}	
body {
	text-align: center;
}
#title-orange {
	color: orange;

}
.no-decoration {
	text-decoration: none; 
}
#title-color {
	color: rgb(0, 113, 227)
}
.box {
	width: 200px;
	height: 200px;
	style: background-color:rgb(242, 242, 242;
	border: 1px solid black;
	display: inline-block;
	style:
	margin: 0px, 100px, 0px, 0px
	text-align

	
